emacs/
gtk-3.0/
github-copilot/
neofetch/
zed/
jgit/
graphite/

**/watch_later

.DS_Store

**/__pycache__/
**/.mypy_cache/
**/.pytest_cache/
**/.vscode/
**/.direnv/
**/.envrc
**/.env
**/.venv/

**/*.pyc
**/*.pyo
**/*.pyd
**/*.o
**/*.so
**/*.dll
**/*.dylib
**/*.a
**/*.lib
**/*.exe
**/*.out
**/*.app

**/*.class
**/*.jar
**/*.war
**/*.ear

**/.zcompdump
**/.zcompdump-Nathan’s MacBook Pro-5.9
**/.zcompcache
**/.zsh_sessions

**/*.log
**/*.tlog
**/*.cache
**/*.pid
**/*.gz
**/*.xz
**/*.lz
**/*.lzma
**/*.tlz
**/*.txz
**/*.bz2
**/*.bzip2
**/*.bzip
**/*.bzip
*.tar
*.tar.*
*.rar
*.zip
*.7z
*.deb
*.rpm
*.iso
*.img
*.qcow2
*.qcow

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
